<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Photo</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-light">
    <div class="container mt-5">
      <div class="card shadow-lg p-4">
        <h2 class="text-center font-weight-bold">Upload Photo</h2>

        <form action="/upload/" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="photo">Select a Photo: </label>
            <input
              type="file"
              id="photo"
              name="photo"
              class="form-control-file"
              accept="image/*"
              required
            />
          </div>

          <div class="form-group">
            <label for="name">Photo Name (min. 8 characters)</label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              required
              minlength="8"
            />
          </div>

          <button type="submit" class="btn btn-primary btn-block">
            Upload
          </button>
        </form>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
